WorkFlow.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.File_ID }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        224
      ],
      "id": "b3bc204d-01d4-431b-aef1-709654c69325",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ouGqsvyKVucidYLU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "embeddingBatchSize": 2,
        "options": {
          "pineconeNamespace": "={{ $('Edit Fields').item.json.File_Name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1824,
        80
      ],
      "id": "e81cffa0-ecca-4260-942e-cd07b5730e1e",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "KPIA3DeGN1lD0UBL",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Apple",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1824,
        288
      ],
      "id": "1ce03b4b-3539-45c0-b277-803f2758ad75",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "# Preprocessing\n",
        "height": 560,
        "width": 1312,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6e0030d6-3a20-4f44-8569-9572d6aa2038",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# RAG Chatbot",
        "height": 736,
        "width": 912,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        656
      ],
      "id": "727cc660-4c5b-4c2f-970c-e7f804e765c2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=You are **AI Agent** and your task is to **retrieve relevant information from the vector store and answer customer questions**.\n\n## Context & Background\n- Your users are **customers**\n- They expect **friendly and concise** responses\n\n## Primary Responsibilities\n- Query the vector store to fetch relevant context  \n- Use the retrieved information to answer the user\n\n## Available Tools\n### **Answer questions with a vector store**\n- **Usage:** Invoke to fetch relevant content from the Pinecone vector store  \n- **Function:** Retrieves top relevant passages via OpenAI embeddings\n\n## Output Format\nAlways respond in **Markdown** with:  \n- **Bullet points**  \n- Exactly **2 sentences** total\n\n## Example Output\n- Your appointment is confirmed for June 15th at 3:00 PM.  \n- Let me know if you need to reschedule or have any other questions.\n\n---\n\n**Important:** Do not add any extra sentences or sections beyond the two-sentence bullet list.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        768,
        768
      ],
      "id": "ca3b746a-7779-49b2-99b0-c41270856263",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        384,
        768
      ],
      "id": "0311b761-8f71-46a1-affa-0acc309f908c",
      "name": "When chat message received",
      "webhookId": "724e7822-db6d-454e-b886-bd541e72b5a6"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {
          "pineconeNamespace": "={{ $json.File_Name }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        784,
        1136
      ],
      "id": "28fcb194-8a1f-46e3-9f08-bb803952fc63",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "KPIA3DeGN1lD0UBL",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        48,
        384
      ],
      "id": "704b468d-4bf5-4a0a-8c53-fff4f8551ca7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "14S78Yl0ekZ_fFGBQo0GisQh9fJPMRo6c",
            "mode": "list",
            "cachedResultName": "Apple",
            "cachedResultUrl": "https://drive.google.com/drive/folders/14S78Yl0ekZ_fFGBQo0GisQh9fJPMRo6c"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        256,
        80
      ],
      "id": "23338831-9303-4f4d-979b-6607e5b41b83",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ouGqsvyKVucidYLU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1536,
        64
      ],
      "id": "f39411ad-7f21-43f2-b372-41408b68d36c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1952,
        416
      ],
      "id": "09b3e811-62a7-42c1-af3f-16b118411fea",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61e972ad-a5a7-42a4-901f-d9ba2216abd8",
              "name": "File_Name",
              "value": "={{ $json.File_Name.match(/Q\\d+/)?.[0] }}",
              "type": "string"
            },
            {
              "id": "2089375b-83de-405c-9aa5-31add9cce46b",
              "name": "File_ID",
              "value": "={{ $json.File_ID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        64
      ],
      "id": "b39b411a-1207-4f5a-ad1b-6ab9f45d675d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1088,
        1152
      ],
      "id": "d664b167-fedd-4fc6-8009-32d0f6edbf49",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "TEJ0wh7ed5GyYB1d",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-safeguard-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        640,
        976
      ],
      "id": "ca7e7d2d-345e-4b91-973b-67faa0c8514c",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "TEJ0wh7ed5GyYB1d",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2089375b-83de-405c-9aa5-31add9cce46b",
              "name": "File_Name",
              "value": "={{($json[\"chatInput\"].match(/Q[1-4]/i) ? ($json[\"chatInput\"].match(/Q[1-4]/i)[0].toUpperCase()).trim() : \"\")}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        768
      ],
      "id": "a5825c79-ec85-4124-a6c6-8e3dc136ab3a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "model": "deepseek-r1:1.5b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        672,
        1264
      ],
      "id": "65a8ae05-c0e5-4cb9-9113-d72f92b8ac5e",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "qxVHKe8J1MxLhfVK",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "description": "=Returns documents related to Apple Q1 report, including financials, outlook, margins, and all key details from the earnings reports.",
        "topK": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        928,
        976
      ],
      "id": "2b6b219d-2b1b-4f30-909d-19c79791d630",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "content": "# Uploading to VD\n",
        "height": 560,
        "width": 768,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1424,
        0
      ],
      "id": "d59ff536-69c5-49d2-b404-e1df25b9e3ed",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        48,
        80
      ],
      "id": "46569a40-485f-4afc-8a73-7d91ef5326f3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hrRE2kzUJ-Cm7m4Qu_bPjJ3jsIiIG5zOeczC7kLzeq0",
          "mode": "list",
          "cachedResultName": "test for n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hrRE2kzUJ-Cm7m4Qu_bPjJ3jsIiIG5zOeczC7kLzeq0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 420576711,
          "mode": "list",
          "cachedResultName": "الورقة3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hrRE2kzUJ-Cm7m4Qu_bPjJ3jsIiIG5zOeczC7kLzeq0/edit#gid=420576711"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "File_Name"
            },
            {
              "lookupColumn": "File_ID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        384
      ],
      "id": "7f669c42-130d-47ab-83cf-a5b4d35b1adb",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CeYKZiymr1i7IQsu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ✅ Get ALL incoming data as one flat array\nconst allInputs = $input.all(); \n\n// Separate Drive files vs Sheet rows by their structure\nconst driveInput = [];\nconst sheetInput = [];\n\n// Loop through all incoming items and detect source\nfor (const item of allInputs) {\n  const data = item.json;\n  \n  // Drive files have `id` + `name`\n  if (data.id && data.name) {\n    driveInput.push(data);\n  }\n  \n  // Sheet rows have `ID` + `Name`\n  if (data.ID || data.Name) {\n    sheetInput.push(data);\n  }\n}\n\n// ✅ Extract already processed IDs from sheet\nconst processedIds = sheetInput\n  .filter(row => row.ID && row.ID !== \"\")\n  .map(row => row.ID);\n\n// ✅ Filter only NEW files not in sheet\nconst newFiles = driveInput.filter(f => !processedIds.includes(f.id));\n\n// ✅ Debug info\nconsole.log(`Drive files found: ${driveInput.length}`);\nconsole.log(`Sheet rows found: ${sheetInput.length}`);\nconsole.log(`Already processed IDs: ${processedIds.length}`);\nconsole.log(`New files to download: ${newFiles.length}`);\n\n// ✅ Output only the new ones\nreturn newFiles.map(f => ({\n  json: {\n    fileId: f.id,\n    fileName: f.name\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        48
      ],
      "id": "296f56c8-4fca-4b10-b4b0-d3da183ca51d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        240
      ],
      "id": "3779698c-dc77-430d-972e-c74563080d13",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1hrRE2kzUJ-Cm7m4Qu_bPjJ3jsIiIG5zOeczC7kLzeq0",
          "mode": "list",
          "cachedResultName": "test for n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hrRE2kzUJ-Cm7m4Qu_bPjJ3jsIiIG5zOeczC7kLzeq0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 420576711,
          "mode": "list",
          "cachedResultName": "الورقة3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hrRE2kzUJ-Cm7m4Qu_bPjJ3jsIiIG5zOeczC7kLzeq0/edit#gid=420576711"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "File_ID": "={{ $json.fileId }}",
            "File_Name": "={{ $json.fileName }}"
          },
          "matchingColumns": [
            "File_Name"
          ],
          "schema": [
            {
              "id": "File_Name",
              "displayName": "File_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "File_ID",
              "displayName": "File_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        240
      ],
      "id": "0dd87fa4-f3af-46ce-bd20-0008f651bca9",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CeYKZiymr1i7IQsu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek-r1:1.5b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1600,
        384
      ],
      "id": "1b2a170e-6235-482d-b13f-4396a7c306b2",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "qxVHKe8J1MxLhfVK",
          "name": "Ollama account 2"
        }
      }
    }
  ],
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9dbfa236748f57f4d32c722df3fe4dd3a8b5741e6b02e6bb43904442726c248a"
  }
}
